XML/XML_Schema/Exercises/ex1.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="members">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="member" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="member">
      <xs:complexType>
          <xs:all>
            <xs:element name="name" type="xs:string" />
            <xs:element name="years_of_membership" type="xs:integer" />
          </xs:all>
      </xs:complexType>
  </xs:element>
</xs:schema>
